div.selectors{
  display: flex;
  gap: 20px;
}
div.left img{
    display: block;
    margin-right: auto;
}
div.right img{
    display: block;
    margin-left: auto;
}
div.monospaced{
  font-family: 'Cascadia Code', monospace;
}